@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html, body {
    background: #affff4;
    font-size: 1.1rem;
    font-family: "Roboto", sans-serif;
    height: 100%;
  }

.app {
    margin: 4rem auto;
    padding: 2rem 3rem 3rem;
    max-width: 600px;
    background: #05a19c;
    color: #fff;
    box-shadow: -10px -10px 5px 5px rgba(100, 100, 100, 0.2);
    overflow: hidden;
  }